.holder{
	width:300px;
	height:300px;
	display: grid;
	grid-template-columns: repeat(2,200px);
	grid-template-rows:repeat(2,200px);
	gap: 10px;
    border: 1px solid aqua;
}
/*.box{
	border:1px solid black;
}
.red{
	background-color:red;
}
.limegreen{
	background-color:limegreen;
}
.black{
	background-color:black;
}*/