.grid-container{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,100px);
	grid: 20px;
}
.grid-item{
	background-color:lightgray;
	padding:20px;
	bordee:1px solid gray;
	}
	